
*{
    margin: 0px;
    box-sizing: border-box;
}

.box{

    height: 100vh;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.itme{
    background-color:#0d7bf1;
    color: white;
    display: flex;
    height: 100vh;
    width: 20%;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: start;
 

}

.myUl{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
   
    
}
ul{
    padding: 0px 10px;
}
.myUl > li{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 5px;
}
#close{
    right: 0px;
    font-size: 2.5rem;

}
#close:hover{
    color: red;
}
.liBox:hover{
    box-shadow: 0px 0px 1px rgb(0, 0, 0);
    background-color:#3391f7;
}

.icon{
    font-size: 1.6rem;
}

#menu{
    visibility: hidden;
}

#menu{
    font-size: 1.9rem;
}
#menu:hover{
    color: rgb(250, 63, 194);
    
}
