
body{
    box-sizing: border-box;
    margin: 10px auto;
}

:root{
    --myWide: 500px;
    --myHeight: 400px;
}

#mycard{
    width:var(--myWide);
    height: var(cal(--myHeight-150px));
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.226);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    position: relative;
    /* display: ; */
    left: 20px;
    top: 10px;

}

#mycard > img{
    width:var(--myWide);
    height: var(cal(--myHeight - 150px));
}
#mycard > p{
    width: var(--myWide);
    padding: 10px;
    margin: 10px;
    font-size: 1.2rem;
}

img:hover{
    transform: scale(1.11);
    transition: all 0.7s;
}

#Hidden{
    font-size: 1.3rem;
    padding: 8px 20px;
    border-radius: 20px;
    position: absolute;
    top:0px;
    left: 0px;
    margin: 10px;
    border: none;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(255, 255, 255);
}

#Hidden:hover{
    background-color: rgb(132, 247, 103);
    transition: all 0.5ms;
    transform: scale(1.1);
}